# Ignore files
.project
*.project

# Ignore Mac sys files
.DS_Store

# Ignore node_modules
node_modules/*
dist/*

# Ignore api keys
apiKey*

# Ignore heroku files
# Procfile

# Ignore Snap-ci files
snap-ci-console.log

public/*


