<!DOCTYPE html>
<html>

    <head>
        <!-- Used for search engine crawlers to navigate the react app -->
        <!-- <meta name="fragment" content="!"> -->
        <!-- CSS -->
        <link rel="stylesheet" href="http://localhost:3000/assets/bundle.css"></link>
    </head>

    <body>
        <!-- Div that the React application will look up and inject itself into -->
        <div id="rootApp"></div>

        <!-- JS -->
        <script src='http://localhost:3000/assets/bundle.js'></script>
    </body>

</html>

